%cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
